In [1]:
#ch2 1(a)
print('|%10d%9d%9d|'%(12345,12,1234567))
print('|%10d%9d%9d|'%(12,1234567,123))
print('|%10d%9d%9d|'%(123456,123,12345))

|     12345       12  1234567|
|        12  1234567      123|
|    123456      123    12345|

In [3]:
#(b)
print(format('deprtment','12s'))
print(format('of','12s'))
print(format('computer','12s'))
print(format('science','12s'))
print()

deprtment
of
computer
science

In [4]:
#(c)
print(format('deprtment','>12s'))
print(format('of','>12s'))
print(format('computer','>12s'))
print(format('science','>12s'))

   deprtment
          of
    computer
     science

In [6]:
#(d)
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

    123.46
  12345.68
i=100
i=100,j=200

In [7]:
#(e)
print('%.2fdegree Celsius in Fahrenheit\is%.2f'%(3.25,3.25*1.8+32))
print('%.2fdegree Fahrenheit in Celsius\is%.2f'%(94.5,(94.5-32)/1.8))

3.25degree Celsius in Fahrenheit\is37.85
94.50degree Fahrenheit in Celsius\is34.72

In [8]:
#(f)
print('%-15s%-10s'%('Month','Amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

Month          Amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [9]:
#ch3 1(a)
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [10]:
#(b)
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end="***")
print('over')

100 200
100200***over

In [11]:
#(c)
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end="***")
print('over')

100 200
100$and
200***over

In [12]:
#2(a)
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [14]:
#(b)
str1='hello,'
str2="python"
str3=str1+str2
print(str3)
a=100
b=200
c=a+b
print(c)

hello,python
300

In [20]:
#(c)
str1='hello,'+\
   'python,let\'s learning '
str2="python now"
str3=str1+str2
print(str3)

hello,python,let's learning python now

In [22]:
#3(a)
a=100
b=3
a//=b
print(a)

a=100
a%=b
print(a)

a=100
a/=b
print(a)

33
1
33.333333333333336

In [23]:
#(b)
a=100
b=200
print(a,b)

b,a=a,b
print(a,b)

100 200
200 100

In [24]:
(c)
a=100
b=200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [26]:
#4
a=eval(input('Enter an integer:'))
b=a+100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:20
20 120
Enter a string:20
20i8

In [27]:
#ch4 1
a=-888
b=100
c=10
d=2
e=0.5
print(abs(a))
print(max(a,b,c,d,e))
print(min(a,b,c,d,e))
print(pow(c,d))
print(round(7.5))
print(round(6.5))
print(int(123.456))
print(round(123.456,2))

888
100
-888
100
8
6
123
123.46

In [28]:
#2
import math
a=math.fabs(-123.45)
print(a)

b=math.ceil(8.8)
print(b)

c=math.floor(8.8)
print(c)

d=math.exp(1)
print(d)

e=math.log(100)
print(e)

f=math.log(100,10)
print(f)

g=math.sqrt(1000000)
print(g)

123.45
9
8
2.718281828459045
4.605170185988092
2.0
1000.0

In [29]:
#3
m=math.tan(0)
print(m)

n=math.tan(2*math.pi)
print(n)

p=math.degrees(2*math.pi)
print(p)

q=math.radians(360)
print(q)

0.0
-2.4492935982947064e-16
360.0
6.283185307179586

In [30]:
#4
x='apple i'+str(8)
print(x)

y=ord('z')
print(y)

z=chr(100)
print(z)

apple i8
122
d

In [4]:
#ch5 1(a)
score=eval(input('Enter your score:'))
if score>=60:
    score+=10
print('Your score is %d'%(score))

Enter your score:60
Your score is 70

In [5]:
#(b)
score=eval(input('Enter your score:'))
if score>=60:
    score+=10
else:
    score+=8
print('Your score is %d'%(score))

Enter your score:50
Your score is 58

In [7]:
#(c)
temperature=eval(input('Enter temperature today:'))
if temperature>=28:
    print('hot')
else:
    print('comfortable')
print('over')

Enter temperature today:29
hot
over

In [8]:
#(d)
temperture=eval(input('Enter temperature today:'))
if temperature>=28:
    print('hot')
elif temperature>=22:
    print('comfortable')
else:
    print('cold')
print('over')

Enter temperature today:25
hot
over

In [9]:
#(e)
temperature=eval(input('Enter temperature today'))
humility=eval(input('Enter humility today'))
if temperature>=28:
    print('hot')
elif temperature>=22 and humility>=40 and humility<=50: 
    print('Comfortable')
else:
    print('cold')
print('over')

Enter temperature today25
Enter humility today45
Comfortable
over

In [11]:
#(f)
char=input('Enter a character')
if char>='a' and char<='z':
    print('%c is lowercase character'%(char))
elif char>='A' and char<='Z':
    print('%c is uppercase character'%(char))
else:
    print('%c is other character'%(char))

Enter a charactera
a is lowercase character

In [12]:
#(g)
num=eval(input('Enter a number'))
if num%2==0:
    print('%d'%(num),end='')
    print('is even number')
else:
    print('%d'%(num),end='')
    print('is odd number')
print('TEST IS OVER')

Enter a number8
8is even number
TEST IS OVER

In [1]:
#ch6 1(a)
fiveMulti=0
k=5
while k<=100:
    fiveMulti+=k
    k+=5
print(fiveMulti)

1050

In [2]:
#(b)
for i in range(10):
    print(i,end='')
print('')

for i in range(2,10):
    print(i,end='')
print('')

for i in range(1,10,2):
    print(i,end='')
print('')

for i in range(9,1,-2):
     print(i,end='')
print('')

0123456789
23456789
13579
9753

In [3]:
#(c)
for i in range (10):
    print('%3d'%(i),end='')
print('')

for i in range(2,10):
      print('%3d'%(i),end='')
print('')

for i in range(1,10,2):
    print('%3d'%(i),end='')
print('')

for i in range(9,1,-2):
     print('%3d'%(i),end='')
print('')

  0  1  2  3  4  5  6  7  8  9
  2  3  4  5  6  7  8  9
  1  3  5  7  9
  9  7  5  3

In [4]:
#(d)
total=0
num=0
while True:
    num+=1
    total+=num
    if total>=5050:
        break
print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+100=5050

In [8]:
#(e)
total=0
num=1
while num<=100:
    if num%2==0:
        num+=1
        continue
    total+=num
    num+=1
print('1+3+5..+99=',total)

1+3+5..+99= 2500

In [9]:
#(f)
total=0
for i in range(1,101):
    if i%2==1:
        total+=i
    else:
        continue
print('1+3+5..+99=',total)

1+3+5..+99= 2500

In [10]:
#(g)
for i in range(10):
    for j in range(i,10):
        print('*',end='')
    print('')

**********
*********
********
*******
******
*****
****
***
**
*

In [11]:
#(h)
for i in range(9):
    for j in range(i):
        print('*',end='')
    print('')

*
**
***
****
*****
******
*******
********